.container{
    margin:auto;
    width:auto;
    height: auto;
    align-content: center;
    border-style:solid;
    border-color:black;
    border-radius:30px;
    border-width:  10px;
}
.answer:hover{
    color:mediumblue;
}